.folder {
    background-color: rgb(133, 75, 4);
}

.file {
}

.chosenItem {
    background-color: #5ebef5;
}

.dragOver {
    border: solid;
    border-color: black;
}

.rightButton {
    position: absolute;
    right: 5px;
    top: 10px;
}